By the time and date indicated on the Schedule page, submit this assignment via Laulima.

Your submission should contain:

  * A link to the JSFiddle.  Make sure you include the complete URL so that I can click on it in my mailer.

  * The number of times you have attempted this assignment so far, and for each time, how long it took you.

You will receive full credit for this practice WOD as long as you have attempted it at least once and submitted your work on Laulima with all required data before the due date. Your code does not have to run perfectly for you to receive full credit.
