By the time and date indicated on the Schedule page, write a technical essay regarding this module. You can use the issues above as a starting point, but write a stand-alone essay: don't just answer them like it's a homework assignment! Once you've finished the essay submit it using Laulima.

Please note the following:

  * Your submission should be a URL providing a direct link to your essay (not a link to the home page of your portfolio, nor a link to the essays directory page).  If the link does not work, you will not get credit for your essay.

  * An entry for your essay must also appear in the Essays page of your portfolio.  Check this before submission. If it is not listed, it's probably because your YAML front matter is incorrect. See the [Essay Content](https://techfolios.github.io/) section of the TechFolio documentation for details.

  * Be sure that your essay is ready for evaluation before submitting it via Laulima. I often click on the link as soon as I receive the submission. If the essay is empty or only partially complete when I click on the link, you might not receive credit.

  * Your essay must be original content, written during this semester reflecting your current views and writing style.  You cannot submit essays that you wrote previously for this assignment. The purpose of this assignment is for you to practice writing right now, this semester.
